body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	margin: 0;
}

/* Generic style */

.flex-h {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-v {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.jobpost-container {
	background-color: #dcdde1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 20px;
}
.jobpost-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.jobpost-btn {
	background-color: #00a8ff;
	color: #f5f6fa;
	padding: 10px 30px;
	border: none;
	border-radius: 10px;
}
.regist-container {
	display: flex;
	flex-direction: column;
	background-color: #0fb9b1;
	height: 100vh;
}
.regist-label {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 10px 50px;
}
.regist-btn {
	background-color: #778ca3;
	padding: 10px 40px;
	border: none;
	border-radius: 10px;
	width: 200px;
	margin-left: 100px;
	color: #d1d8e0;
}
.regist-label input {
	padding: 10px;
}
.apply-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 20px;
}
.apply-label {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 10px 50px;
}
